.note{
    position: relative;
    background-color: #feff9c;
    height: 10em;
    padding: 1em;
    width: 10em;
    margin: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transform: rotate(-6deg);
    z-index: 1;
    transition: all ease 0.3s;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.note:nth-child(even){
    transform: rotate(4deg);
    position: relative;
    top:5px;
    background-color: #7afcff;
}
.note:nth-child(3n){
    transform: rotate(-3deg);
    position: relative;
    top:-5px;
    background-color: #ff7eb9;
}
.note:hover {
    transform: scale(1.5);
    z-index: 5;
}

.note__text{
    flex:1;
}
.note__link{
    display: none;
}